*{
    margin:0;
    padding:0;
}

nav{
    background-color: rgb(28, 64, 57);
    color:white;
    height: 75px;
    font-size: 30px;
    display:flex;
    padding:0 12px;
    justify-content: center;
    align-items: center;
}

.SubFrame h1{
    font-size: 30px;
    display:flex;
    justify-content: center;
    margin-top: 20px;

}

img {
    max-width: 100%;
    height:auto;
  }

.ButtonSet{
    display:flex;
    justify-content: space-evenly;

}

button {
    background-color:rgb(28, 64, 57);
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    justify-content:space-evenly;
    margin-top:45px;
    width:200px;
    height: 40px;
    font-size:20px;
    border-radius: 8px;
    margin-bottom: 40px;
  }

  .Logo{
    font-size: 30px;
    display:flex;
    justify-content: center;

  }